<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" style="margin-right:15px;">
    <mat-icon>menu</mat-icon>
  </button>

  <span routerLink="/">My App</span>
  <span class="example-spacer"></span>

  <button mat-raised-button color="primary" routerLink="/create-post" style="margin-right:10px;">Create New Post</button>
  <button mat-raised-button color="primary" routerLink="/view-all" style="margin-right:10px;">View All Posts</button>
  <button mat-raised-button color="primary" routerLink="/search-by-name" style="margin-right:10px;">Search</button>

  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>